.chatfeedback {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 20px auto;
  gap: 10px;
}

.chatfeedback .button1 {
  flex: 1;
  padding: 10px;
  background-color: #ccc;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.chatfeedback .button1:hover {
  background-color: #bbb;
}

.chatfeedback .button2 {
  flex: 1;
  padding: 10px;
  background-color: #fff;
  color: #555;
  border: 1px solid #bbb;
  border-radius: 10px;
  cursor: pointer;
}

.chatfeedback .button2:hover {
  background-color: #eee;
}

.chatting {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.chatting textarea {
  flex: 1;
  margin-right: 20px;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  width: 80%;
  font-size: 16px;
  font-family:Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  border: 1px solid #000;
  outline: none;
  resize: none;
  overflow: hidden;
}

.chatting .save {
  flex: 0;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #000;
  padding: 10px 10px;
  font-size: 10px;
  cursor: pointer;
}

.chatting .save:hover {
  background-color: #eee;
}