.App {
  padding-left: 20px;
  padding-right: 20px;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f8f8f8;
}

.app-container {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  max-height: calc(100vh - 116px);
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.app-container::-webkit-scrollbar {
  display: none;
}

.app-container > .navbar {
  margin-top: 10px;
}