.navbar {
  height: 80px;  /* navbar 높이 */
  position: fixed; /* 하단에 고정 */
  bottom: 0; /* 하단에 고정 */ 
  max-width: 350px;
  width: 100%;
  border-top: 1.4px solid grey; /* 경계선 */
  left: 50%;
  transform: translateX(-50%);
  }

  .navbar img {
    margin-top: 5px;
    margin-bottom: -5px;
  }

  .nav-link {
    /* 수평정렬, 5개의 button을 각각 20% width만큼 할당 */
    float: left;
    width: 20%;
    text-align: center;
  
    /* 세로길이 설정 */
    height: 45px;
    line-height: 20px;
  }
  
  /* 하단 네비바의 메뉴를 눌렀을 때 색상 변경*/
  .active {
    color: #6271f5;
  }
  
  /* 하단 네비바의 메뉴를 안 눌렀을 때 색상 변경*/
  .inactive {
    color: #808080;
  }
  