.searchQ .searchBox {
    background-color: #fff;
    border-radius: 12px;
    padding-left: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 15px;
    border: 1.5px solid #e9e9e9;
}

.searchIcon {
    padding-top:3px;
    color: #1a1a1a;
}